%h2 Catálogo de Libros

.list-book
  %ul
    - @books.each do |book|
      %li.item-list-book= render "book_list_item", book: book
      %hr{class: "books-separator"}
%br

= paginate @books

- content_for :hidden_cart do
  = render 'carts/show', cart: current_cart, layout: false
