// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.main-menu{
  margin-top: 15px;
  margin-bottom: 15px;
}

li#cart a{
  background-image:url('cart.png');
  height: 8px;
  width: 10px;
  margin-top:5px;
}

li#cart p{
  margin-top: -20px;
  font-size: 1.1em;
  color: #123;
  margin-left: -5px;
}


table#cart-detail tr.item-data td.subtotal{
  padding-right: 36px;
}

table#cart-detail tr.cart-actions td form{
  margin-bottom: -15px;
}

table#cart-edition tr.item-data td input[type=number].quantity {
  width: 40px;
  text-align: center;
}
